<!DOCTYPE html>
<html>

<head>
    <title></title>
    
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<style type="text/css">
[v-cloak] {
    display: none;
}
</style>

<body>

    <div id="app1" v-cloak>
        <button @click="calc()">{{ test }}</button>
        {{ first_name }}
        {{ last_name }}
        {{ full_name() }}
        {{ full_name() }}
        <input type="text" v-model="test" :title="text_title">
        <input type="text" v-model="first_name">
        <input type="text" v-model="last_name">
    </div>

    <script src="vue.global.js"></script>
    <script src="app.js"></script>

</body>
</html>
