<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>






<body>
  <div id="app">
    <select v-model="selectedColor">
      <option value="">White</option>
      <option value="text-black">Black</option>
      <option value="text-orange">Orange</option>
    </select>
    
    <label>
      <input type="checkbox" v-model="isPurple" /> Purple
    </label>

    <div class="circle" :class="[selectedColor, circle_classes]">
      Hi!
    </div>
  </div>  
  

  <script src="vue.global.js"></script>
  <script src="app.js"></script>
</body>

</html>